@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Cutive Mono', monospace;
}

.header {
    width: 100%;
    height: 6vh;
    background: #1a1c1c;
    background-size: cover;
    background-position: center;

}

.navbar {
    width: 90%;
    height: 110%;
    margin: auto;
    padding: 1px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.logo {
    width: 110px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #1fa194;
    position: absolute;
    left: 0;
    bottom: 2%;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}

#timeline {
    display: flex;
    background: linear-gradient(rgba(51, 23, 163, 0.7), rgba(31, 161, 148, 0.7));
}

#timeline:hover .timeline-item {
    width: 23.3333%;
}

.timeline-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    transition: width 0.5s ease;
}

.timeline-item:before,
.t1-item:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.timeline-item:after {
    background: #8790A8;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.timeline-item:before {
    background: linear-gradient(to bottom, rgba(51, 23, 163, 0.7), rgba(31, 161, 148, 0.7));
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease,
        transform 0.5s ease;
}

.timeline-item:hover {
    width: 40% !important;
}

.timeline-item:hover:after {
    opacity: 0;
}

.timeline-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}

.timeline-item:hover .timeline-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.65s ease 0.5s;
}

.timeline-item:hover .timeline-bg {
    filter: grayscale(0);
}

.timeline-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0.1618em;
    top: 55%;
    opacity: 0;
}

.timeline-content h2 {
    text-transform: uppercase;
    font-size: 1.44rem;
    font-weight: normal;
}

.timeline-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.timeline-year h1 {
    font-size: 1.628rem;
    line-height: 1.25;
}

.timeline-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(80%);
}

.page-transition1 img {
    position: absolute;
    background-color: transparent;
    width: 5%;
    height: 8%;
    top: 50%;
    right: 0.5%;
}

.page-transition1:hover img {
    content: url("../images/arrow_black_rotated.png");

}

.page-transition2 img {
    position: absolute;
    background-color: transparent;
    width: 5%;
    height: 8%;
    top: 50%;
    left: 0.5%
}

.page-transition2:hover img {
    content: url("../images/arrow_black.png");
}